# Carpeta de caché de Visual Studio
.vs/

# Archivos de usuario de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Sistemas operativos
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store